$clr-prim1: #1c1f21ff;
$clr-prim2: #3d3d3dff;
$clr-prim3: #7d2826ff;
$clr-prim4: #99241eff;
$clr-prim5: #026c7cff;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}